@import url(main.css);

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background: var(--background1);
}

h1 {
  font-size: 4vh;
  cursor: default;
  font-weight: 400px;
  cursor: default;
  color: var(--text1);
}

.logoText {
  margin-top: -7vh;
  font-size: 4vh;
  margin-left: 12vh;
  display: none;
}

h2 {
  text-align: center;
  margin-top: 5vh;
  font-size: 3vh;
  font-weight: bold;
  cursor: default;
  color: var(--text1);
}


hr {
  border: 1px solid var(--background2);
  width: 100vw;
  height: 0vh;
}

.logoDesc,
.logoText,
.recomend {
  cursor: default;
}

.logoDesc {
  color: rgb(190, 190, 190);
  text-align: center;
  font-size: 1.9vh;
}

.recomend::selection {
  background: none;
}

.articleImage {
  position: absolute;
  display: inline-block;
  top: 0;
}

.articleImage img {
  position: relative;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.35) 100%);
  width: 100vw;
  height: 100vh;
  object-fit: fill;
}

.articleTitle {
  position: relative;
  text-align: center;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  font-size: 30px;
  font-weight: bolder;
  color: var(--text1);
  text-shadow: 0 0 5px var(--shadow3);
}

.articleText {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 96vw;
  min-height: 70vh;
  color: var(--text1);
  z-index: 1;

  a {
    color: var(--textlink1);
  }
}

#pageName {
  display: none;
}

pre {
  font-family: inherit;
  cursor: default;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

p {
  cursor: default;
}

.articleWriter {
  cursor: default;
  color: rgb(160, 160, 160);
  text-align: center;
}