/* Google Fonts: DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Variables */
:root {
    /* Light Versions */
    --backgroundlight1: white;
    --backgroundlight2: rgb(240, 240, 240);
    --backgroundlight3: rgb(230, 230, 230);
    --backgroundlight4: #f3f3f3;
    --imagefilterlight: invert(0%);
    --hometopgradientlight: rgba(255,255,255,0.6206524846266632);
    --spinnercolorlight1: rgba(0,0,0,0.5);
    
    /* Dark Versions */
    --backgrounddark1: rgb(20,20,40);
    --backgrounddark2: rgb(40,40,50);
    --backgrounddark3: rgb(140,140,140);
    --backgrounddark4: #292929;
    --logobackground: white;
    --imagefilterdark: invert(100%);
    --hometopgradientdark: rgba(40,40,50,0.6206524846266632);
    --spinnercolordark1: rgba(0,0,30,0.5);
  
    --textlight1: black;
    --textlight3: rgb(110,110,110);
    --textdark1: white;
    --textdark3: rgb(160,160,160);
    
    --background1: var(--backgroundlight1);
    --background2: rgb(240, 240, 240);
    --background3: var(--backgroundlight3);
    --background4: #f3f3f3;
    
    --spinnercolor1: rgba(0,0,0,0.5);
    
    --imagefilter: var(--imagefilterlight);
    
    --hometopgradient: var(--hometopgradientlight);

    --text1: var(--textlight1);
    --text2: rgb(160, 160, 160);
    --text3: var(--textlight3);
    
    --textlink1: rgb(120,120,240);
    
    --shadow1: 0px 0px 2vh rgba(0,0,0,0.1);
    --shadow2: 0px 0px 2vh rgba(0,0,0,0.05);
    --shadow3: 0px 0px 2vh rgba(0,0,0,0.75);
}

/* Animations */
@keyframes item {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn3 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Elements */
* {
    font-family: inherit;
    color: inherit;
}

html {
    font-family: 'Dm Sans', sans-serif;
}

body {
    background: var(--background1);
    font-family: 'Dm Sans', sans-serif;
    margin: 0;
    animation: fadeIn 0.2s ease;
    max-width: 100vw;
    min-width: 100vw;
    overflow-x: hidden;
    transition: 0.2s ease;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: var(--background1);
  transition: 0.2s ease;
}

.loading-icon {
  width: 5vh;
  height: 5vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  filter: var(--imagefilter);
}

.loading-spinner {
  border: 16px solid var(--spinnercolor1); /* Background */
  border-top: 16px solid var(--background3); /* Bar color */
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  animation: spin 1s linear infinite;
  position: fixed;
  top: calc(50% - 6.75vh);
  left: calc(50% - 6.75vh);
  transform: translate(-50%,-50%);
}

.items, #items {
  display: inline-flex;
  margin-left: 50%;
  transform: translateX(-50%);
  height: 300px;
  max-height: 30vh;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
}

.item, #item {
  animation: item 0.5s ease;
  width: 225px;
  min-width: 225px;
  height: 80%;
  max-height: 200px;
  /* min-height: 200px; */
  background: var(--background2);
  padding: 0.4vw;
  text-align: center;
  border-radius: 2vh;
  font-size: 1.15vw;
  transition: 0.2s ease;
  margin: 1.1vw;
  cursor: pointer;
  box-shadow: var(--shadow1);
}

.item:hover {
  filter: brightness(90%);
  box-shadow: var(--shadow2);
  
  img {
    mask-image: linear-gradient(to top, rgba(0,0,0,0.4) 10%,rgba(0,0,0,1) 100%);
  }
}

.item img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 2vh;
  mask-image: linear-gradient(to top, rgba(0,0,0,0.2) 30%,rgba(0,0,0,1) 100%);
  transition: 0.2s ease;
}

.item h3 {
  position: relative;
  margin-top: -7vh;
  cursor: pointer;
  font-size: 1.9vh;
  color: var(--text1);
}

.item p {
  position: relative;
  color: var(--text3);
  margin-top: -1.8vh;
  cursor: pointer;
  font-size: 1.5vh;
}


.logoDiv {
  position: fixed;
  padding: 20px;
  top: 20px; 
  left: 20px;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  background: var(--background2);
  cursor: pointer;
  z-index: 2;
  transition: 0.1s ease;
  box-shadow: 0px 0px 20px var(--shadow3);

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    filter: brightness(95%) var(--imagefilter);
  }
}

.logoDiv:hover {
  filter: brightness(90%);
}

.topButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;

  div {
    padding: 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-weight: bold;
    width: 25px;
    height: 25px;
    margin-bottom: 15px;
    background: var(--background2);
    transition: 0.3s ease;
    z-index: 2;
    box-shadow: 0px 0px 20px var(--shadow3);
    cursor: pointer;
    overflow: hidden;
    margin-left: auto;

    * {
      cursor: inherit;
    }

    img {
      position: relative;
      height: 100%;
      object-fit: contain;
      float: right;
      filter: var(--imagefilter);
    }

    p {
      position: absolute;
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
      opacity: 0;
      transition: 0.2s ease;
      color: var(--text1);
      white-space: nowrap;
      float: left;
    }
  }

  div:hover {
    width: 170px;
    filter: brightness(95%);

    p {
      opacity: 1;
    }
  }
}

.search:hover, .search:has(> input:focus) {
  width: 200px !important;
}

#searchBoxautocomplete-list {
  opacity: 0;
  transition: 0.2s ease;
  background: var(--background2);
  padding: 2vh;
  border-radius: 2vh;
  margin-left: -2vh;
  z-index: 1;
  box-shadow: 0 0 2vh var(--shadow3);
  color: var(--text1);
}

.search:hover #searchBoxautocomplete-list,
.search:has(> input:focus) #searchBoxautocomplete-list,
.search:has(> input:focus) input,
.search:hover input,
.search:hover {
  opacity: 1;
}

.search input:focus {
  outline: var(--text1) 2px solid;
}

.search input {
  width: 150px;
  height: 25px;
  margin-top: -10px;
  margin-left: -7.5px;
  position: fixed;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  opacity: 0;
  transition: 0.15s ease;
  background: var(--background1);
  color: var(--text1);
  z-index: 2;
}

.search div {
  position: relative;
  width: 200px;
  margin-top: 20px;
}

footer {
  text-align: center;
  margin-top: 2vh;
  padding-bottom: 2vh;
}

footer a {
  padding: 1vh;
  width: 4vh;
  height: 2vh;
  background: var(--background2);
  border-radius: 1.25vh;
  color: var(--text1);
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease;
}

footer a:hover {
  filter: brightness(95%);
  box-shadow: 0px 0px 2vh var(--shadow1);
}

footer .not-a-button {
  background: none !important;
  cursor: default;
}

footer .not-a-button:hover {
  box-shadow: none;
}